.login-box {
  width: 300px;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

.login-box input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  margin-top: 10px;
}

.signup-btn {
  margin-top: 10px;
  padding: 8px 20px;
  background: white;
  color: #1976d2;
  display: flex;
  gap: 10px;
}

.doner-signup-btn, .receiver-signup-btn {
  margin-top: 10px;
  padding: 8px 20px;
  border: 1px solid #1976d2;
  background: white;
  color: #1976d2;
}

.link {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}
